@model ErpMvcApp.Models.CasesModel

@section Head
{
    <link rel="stylesheet" href="~/webcomponents/city-picker.css" asp-append-version="true" />
}


<h3>Cases</h3>

<div style="padding-bottom:50px;" >
    <city-picker title="Pick a city" city-changed="rememberCityName" />
</div>

<div >

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CityName)
        <input id="Submit" type="submit" value="submit" />
    }

</div>

@if (!string.IsNullOrEmpty(Model?.CityName))
{
    <p>
        Selected City: @Model.CityName
    </p>
}


@section Scripts {
    <script>
          function rememberCityName(cityName) {
            const hiddenField = document.getElementById('CityName');
            hiddenField.value = cityName;
        }
    </script>
    <script type="module" src="~/webcomponents/city-picker.es.js"></script>
}

