@model ErpMvcApp.Models.CasesModel

@section Head
{
    <link rel="stylesheet" href="~/webcomponents/greetings-web-component.css" asp-append-version="true" />
}

<h3>Cases</h3>

<div style="padding-bottom:50px;" >
    <greeting-wc name="@Model.GreetingsText" say-hello-func="sayHello" />
</div>

<div >

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.GreetingsText)
        <input id="Submit" type="submit" value="submit" />
    }

</div>




@if (!string.IsNullOrEmpty(Model.GreetingsText))
{
    <p>
        Posted Data: @Model.GreetingsText
    </p>
}


@section Scripts {
    <script>
          function sayHello(name) {
            const hiddenField = document.getElementById('GreetingsText');
            hiddenField.value = name;
        }
    </script>
    <script type="module" src="~/webcomponents/greetings-comp.es.js"></script>
}

