@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<greeting-wc />

@section Scripts {
    <script type="module" src="~/js/webcomponents/greetings-comp.es.js"></script>
}

